# Dependency directories
node_modules/
Frontend/node_modules/
server/node_modules/

# Environment variables
.env
Frontend/.env
server/.env

# Build output
dist/
Frontend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*